.tabsContainer {
  display: flex;
  gap: 56px;
}

.tabsMenu {
  display: flex;
  flex-direction: column;
  gap: 14px;
  flex-shrink: 0;
}

.tabLink {
  border: 1px solid var(--teal-700);
  color: var(--white);
  background-color: transparent;
  border-radius: 24px;
  height: 48px;
  padding: 9px 30px 9px 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font: inherit;
  letter-spacing: inherit;
  transition:
    background-color 0.05s ease-in-out,
    box-shadow 0.05s ease-in-out;
}

.tabLink:hover {
  background-color: var(--teal-850);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.tabLinkActive {
  background-color: var(--teal-850);
  box-shadow: 0 12px 24px rgba(0, 25, 27, 0.5);
}

.tabContent {
  opacity: 1;
  transition: opacity 300ms ease;
}

.tabContentFading {
  opacity: 0;
  transition: opacity 100ms ease;
}

.divider {
  background-color: var(--teal-700);
  height: 1px;
  margin-bottom: 40px;
}

.timeRow {
  display: flex;
  gap: 56px;
  padding-bottom: 40px;
}

.timeRowLast {
  padding-bottom: 0;
}

@media (max-width: 991px) {
  .tabsContainer {
    flex-direction: column;
  }

  .timeRow {
    flex-direction: column;
    gap: 16px;
  }
}
