.card {
  width: 369px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  background-color: var(--teal-850);
  border: 1px solid var(--teal-700);
  border-radius: 16px;
  position: relative;
  will-change: transform;
  transform: scale(1);
  backface-visibility: hidden;
  transition:
    background-color var(--hover-transition),
    transform var(--hover-transition);
}

.card:hover {
  background-color: color-mix(in srgb, var(--teal-850) 60%, var(--teal-800));
  transform: scale(1.015);
}

.bookmark {
  position: absolute;
  top: 0;
  right: 24px;
}

@media (max-width: 991px) {
  .card {
    padding: 32px;
    width: 100%;
  }
}
