.wrapper {
  position: relative;
  width: 100%;
  min-width: 0;
}

.input {
  width: 100%;
  padding-right: 52px;
}

.clearButton {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  color: var(--teal-400);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
